@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 5%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #fff !important;
}
* {
  font-family: "outfit", sans-serif !important;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.text {
  width: 100%;
  box-shadow: 5px 5px 5px 3px #fff;
  transition: all 0.5s;
}

.heading1 {
  color: red !important;
  background-color: darkgray !important;
  text-align: center !important;
  font-size: 3rem;
  font-weight: 700;
  border: none !important;
  text-shadow: 3px 3px 5px #fff !important;
}

.btn-info {
  color: #fff !important;
}

*::placeholder {
  font-weight: 300 !important;
  font-size: 1rem;
}
*::selection {
  background-color: chocolate;
  color: #fff;
}

.input {
  width: clamp(200px, 50%, 800px);
  height: 40px;
  background-color: #f5f5f5;
  color: #242424;
  padding: 0.15rem 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.input:focus {
  outline: 1px solid blue;
  border-radius: 4px 4px 2px 2px;
}

/* Default styles for the table */
.table-responsive {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Additional styles for small screens (less than 600px) */
@media screen and (max-width: 450px) {
  table tr {
    display: block;
    margin-bottom: 0.625em;
  }
  table thead {
    display: none;
  }

  table td {
    display: block;
    font-size: 0.9rem;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
